.green-day {
    background-color: green;
    border: 1px solid black !important; 
    border-radius: 6px;
    
  }
  
  .yellow-day {
    background-color: yellow;
    border: 1px solid black !important; 
    border-radius: 6px;
    border: 1px solid;
  }
  
  .red-day {
    background-color: red;
    border: 1px solid black !important; 
    border-radius: 6px;
    border: 1px solid;
  }