.green-day {
  background-color: #62be28;
  border: 1px solid rgb(228, 228, 228) !important;

}

.yellow-day {
  background-color: #ffeb3bcc;
  border: 1px solid rgb(228, 228, 228) !important;
}

.red-day {
  background-color: rgb(255, 112, 67);
  border: 1px solid rgb(228, 228, 228) !important;
}

.react-calendar__tile--range {
  box-shadow: inset 0 0 6px 2px #fff;
}

.react-calendar__tile--active {
  background: #62be28 !important;
}

.react-calendar {
  height: auto;
  padding: 4px;
  border-radius: 8px;
}

.react-calendar__viewContainer,
.react-calendar__month-view {
  height: auto;
}

.react-calendar__month-view__days {
  height: auto;
}