.greenDay {
    background-color: green;
    border: 1px solid black !important; 
    border-radius: 6px;
    
  }
  
  .yellowDay {
    background-color: yellow;
    border: 1px solid black !important; 
    border-radius: 6px;
    border: 1px solid;
  }
  
  .redDay {
    background-color: red;
    border: 1px solid black !important; 
    border-radius: 6px;
    border: 1px solid;
  }