.header-bar {
    background-color: gray;
    width: 100%;
    padding: 30px;
    text-align: center;
    border-bottom: 3px;
}

.header-title {
    position: relative;
    top: -30px;
    color: black;
    font-size: 150%;
}

.candle {
    height: auto;
    width: 70px;
    margin-left: 100px;
}

body {
    background-image: url('/background.png');
    background-size: cover;
    background-position: center;
}

.calender {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh; /* full page height */
  }
  .booking {
    margin-right: 22px;
  }
  .choice {
    margin-right: 50px;
  }